venv
*.egg-info
*.pyc
jupyterhub.sqlite
jupyterhub_cookie_secret
*.csr
*.crt
*.key
doc/build
doc/source/api
doc/source/remoteappmanager_help.txt
remoteappmanager/static/components/
node_modules
.coverage
coverage/
build/
dist/
jupyterhub/remoteappmanager.db
jupyterhub/test.key.org
remoteappmanager/version.py

# webclient
webclient/dist
webclient/tmp
webclient/node_modules
webclient/bower_components
webclient/.sass-cache
webclient/connect.lock
webclient/coverage/*
webclient/libpeerconnection.log
webclient/npm-debug.log*
webclient/testem.log