include *requirements.txt
include remoteappmanager/tests/fixtures/remoteappmanager.db
include remoteappmanager/tests/fixtures/templates/*.html
recursive-include remoteappmanager/templates *
recursive-include remoteappmanager/static *
