include *requirements.txt
include remoteappmanager/tests/fixtures/remoteappmanager.db
include remoteappmanager/tests/fixtures/templates/*.html
include jupyterhub/jupyterhub_config.py
recursive-include remoteappmanager/templates *
recursive-include remoteappmanager/static *
