include *.txt
include tests/fixtures/remoteappmanager.db
include tests/fixtures/templates/*.html
include jupyterhub/jupyterhub_config.py
recursive-include remoteappmanager/templates *
recursive-include remoteappmanager/static *
