setuptools>=21.0
traitlets>=4.1
tornado>=4.3
# Fix to 2.2.0 due to docker-py needs (fails with 2.2.1)
requests==2.2.0
docker-py>=1.8
escapism>=0.0.1
jinja2>=2.8
git+git://github.com/jupyterhub/jupyterhub.git
jupyter_client>=4.3.0
click>=6.6
tabulate>=0.7.5
