setuptools==21.0
traitlets>=4.1
tornado==5.1.1
requests==2.20.0
docker==2.2
escapism==0.0.1
jupyterhub==1.5.0
jupyter_client>=4.3.0
click==6.6
tabulate==0.7.5
tornadowebapi @ git+http://github.com/simphony/tornado-webapi.git@8b6846faae23657a04cf97ca5229ce8ea083d000#egg=tornadowebapi
oauthenticator==0.11.0
jinja2>=2.8
# Workaround for following bug in older versions of jupyterhub: https://github.com/jupyterhub/jupyterhub/pull/3383
sqlalchemy<1.4
