{% extends "page.html" %}

{% block sidebar %}
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">

    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>

    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
        <li class="header">APPLICATIONS</li>
    </ul>

    <div id="ember_container"></div>

    {% raw %}
    <!-- Ember template for the Application list -->
    <script type="text/x-handlebars" data-template-name="application">
        {{ application-list class="sidebar-menu" id="applist" }}
    </script>

    <script type="text/x-handlebars" data-template-name="components/application-list">
        <!-- Loading icon -->
        {{#if list_loading}}
            <li>
                <a href="#">
                    <i class="fa fa-spinner fa-spin"></i>
                    <span>Loading</span>
                </a>
            </li>
        {{/if}}

        {{#if empty_list}}
            <li>
                <a href="#">No applications found</a>
            </li>
        {{/if}}

        <!-- Application list -->
        {{#each application_entry_list as |application index|}}
            <li data-index="{{index}}">
                <span class="{{application.app_status}}-badge"></span>
                <a href="#" class="truncate">
                    <img src="{{icon_src application.app_data}}" class="app-icon">
                    <button class="stop-button" data-index="{{application.index}}">
                        <i class="fa fa-times"></i>
                    </button>
                    <span>{{app_name application.app_data}}</span>
                </a>
            </li>
        {{/each}}
    </script>
    {% endraw %}

  <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->
{% endblock %}

{% block main %}
{% endblock %}

{% block script_init %}
    {{  super() }}
    <script type="text/javascript">
    require(["home/controller"]);
    </script>
{% endblock %}
