{% extends "page.html" %}

{% block sidebar %}
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">

  <!-- search form (Optional) -->
  <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                  </button>
                </span>
    </div>
  </form>
  <!-- /.search form -->

  <!-- Sidebar Menu -->
  <ul id="applist" class="sidebar-menu">
    <li class="header">APPLICATIONS</li>

    <!--
      We initialize this element with "display: none" to prevent displaying
      "No applications found" and the loading spinner at the same time
    -->
    <li v-show="!loading && model.app_list.length === 0" style="display: none;">
      <a href="#">No applications found</a>
    </li>

    <!-- Loading spinner -->
    <li v-show="loading" id="loading-spinner">
      <a href="#">
        <i class="fa fa-spinner fa-spin"></i>
        <span>Loading</span>
      </a>
    </li>

    <!-- Application list
      The line 'v-show="true" style="display: none;"' is here to fix displaying
      issues when the javascript is not loaded yet (temporary ?)
    -->
    <li v-for="(app, index) in model.app_list"
        :class="{ active: index === model.selected_index }"
        @click="model.selected_index = index"
        v-show="true" style="display: none;">

      <span :class="app.status.toLowerCase() + '-badge'"></span>

      <a href="#" class="truncate">
        <img class="app-icon"
             @mouseenter="mouse_enter(index)"
             :src="get_icon_src(app.app_data)">

        <button class="stop-button"
                v-show="app.status === 'RUNNING' && index_mouse_over === index"
                @mouseleave="mouse_leave()"
                @click="stop_application(index)">
          <i class="fa fa-times"></i>
        </button>

        <span>{% raw %} {{ get_app_name(app.app_data) }} {% endraw %}</span>
      </a>
    </li>
  </ul>
  <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->
{% endblock %}

{% block main %}
{% endblock %}

{% block script_init %}
    {{  super() }}
    <script type="text/javascript">
    require(["home/controller"]);
    </script>
{% endblock %}
