{% extends "page.html" %}

{% block sidebar %}
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">

  <!-- search form (Optional) -->
  <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                  </button>
                </span>
    </div>
  </form>
  <!-- /.search form -->

  <!-- Sidebar Menu -->
  <ul id="applist" class="sidebar-menu">
    <li class="header">APPLICATIONS</li>

    <!--
      We initialize this element with "display: none" to prevent displaying
      "No applications found" and the loading spinner at the same time
    -->
    <li v-show="!loading && model.app_list.length === 0" style="display: none;">
      <a href="#">No applications found</a>
    </li>

    <!-- Loading spinner -->
    <li v-show="loading" id="loading-spinner">
      <a href="#">
        <i class="fa fa-spinner fa-spin"></i>
        <span>Loading</span>
      </a>
    </li>

    <!-- Application list
      The line 'v-show="true" style="display: none;"' is here to fix displaying
      issues when the javascript is not loaded yet (temporary ?)
    -->
    <li v-for="(app, index) in model.app_list"
        :class="{ active: index === model.selected_index }"
        @click="model.selected_index = index; selected_app_callback()"
        v-show="true" style="display: none;">

      <span :class="app.status.toLowerCase() + '-badge'"></span>

      <a href="#" class="truncate">
        <img class="app-icon"
             :src="app.app_data.image.icon_128 | icon_src">

        <button class="stop-button"
                v-if="app.status === 'RUNNING'"
                @click="stop_application(index)"
                :disabled="app | is_stopping">
          <i class="fa fa-times"></i>
        </button>

        <span>{% raw %} {{ app.app_data.image | app_name }} {% endraw %}</span>
      </a>
    </li>
  </ul>
  <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->
{% endblock %}

{% block main %}
  <!-- Application list
      The line 'v-show="true" style="display: none;"' is here to fix displaying
      issues when the javascript is not loaded yet (temporary ? will be removed when using .vue files for templates)
    -->
  <div v-if="current_app !== null"
       v-show="true" style="display: none;" class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">{% raw %} {{ current_app.app_data.image | app_name }} {% endraw %}</h3>
          <div class="box-tools pull-right"></div>
        </div>
        <div class="box-body">
          <h4>Policy</h4>

          <ul class="policy">
            <!-- Workspace -->
            <li v-if="app_policy.allow_home">
                Workspace accessible
            </li>
            <li v-else>
                Workspace not accessible
            </li>

            <!-- Volume mounted -->
            <li v-if="app_policy.volume_source && app_policy.volume_target && app_policy.volume_mode">
              {% raw %} Volume mounted: {{ app_policy.volume_source }} &#x2192; {{ app_policy.volume_target }} ({{ app_policy.volume_mode }}) {% endraw %}
            </li>
            <li v-else>
              No volumes mounted
            </li>
          </ul>

          <h4>Configuration</h4>
          <form class="configuration"><fieldset></fieldset></form>
        </div>

        <!-- Start Button -->
        <div class="box-footer">
          <button class="btn btn-primary pull-right start-button"
                  @click="start_application()"
                  :disabled="current_app | is_starting">
            Start
          </button>
        </div>

      </div>
    </div>
  </div>
{% endblock %}

{% block script_init %}
    {{  super() }}
    <script type="text/javascript">
    require(["home/controller"]);
    </script>
{% endblock %}
