{% macro modal_dlg(title, btn_label=None, btn_class="btn-primary", modal_class="", buttons_dismiss=true) %}
  {% set key = title.replace(' ', '-').lower() %}
  {% set btn_label = btn_label or title %}
  <div class="modal fade {{ modal_class }}" id="{{key}}-dialog" tabindex="-1" role="dialog" aria-labelledby="{{key}}-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close modal-close" {% if buttons_dismiss %}data-dismiss="modal"{% endif %}><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="{{key}}-label">{{title}}</h4>
        </div>
        <div class="modal-body">
          {{ caller() }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default modal-close" {% if buttons_dismiss %}data-dismiss="modal"{% endif %}>Cancel</button>
          <button type="button" class="btn {{btn_class}} primary" {% if buttons_dismiss %}data-dismiss="modal"{% endif %}>{{btn_label}}</button>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

