body {
    background-color: #f9f9f9;
}

/* Vertical align */
.va {
 display: inline-block;
 vertical-align: middle;
 float: none;
}

#applist > .row {
    background-color: #ffffff;
    font: 11px/1.8 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    color: #444;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 30px;
}
#applist > .row > h4 {
    font-size: 14px;
    font-weight: 600;
}

#applist > li > a > div {
    float: left;
}

#applist img.app-icon {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-right: 5px;
    margin-top: -2px;
    background-color: white;
}


/* Used in the admin page as a central element */
.adminslab {
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
}

.createnew {
    margin-top: 20px;
    margin-bottom: 10px;
}

