body {
    background-color: #f9f9f9;
}

/* Vertical align */
.va {
 display: inline-block;
 vertical-align: middle;
 float: none;
}

#applistentries > li > a > div {
    float: left;
}

#applistentries img.app-icon {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-right: 5px;
    margin-top: -2px;
    background-color: white;
}

.createnew {
    margin-top: 20px;
    margin-bottom: 10px;
}

#application {
    width: 100%;
    height: 100%;
}

.running-badge {
    display: block;
    position: absolute;
    top: 24px;
    left: 8px;
    z-index: 100;
    width: 4px;
    height: 4px;
    border: 1px solid darkcyan;
    background-color: cyan;
    border-radius: 50%;
    box-shadow: 0px 0px 8px rgba(0, 255, 255, 1.0)
}

.stopped-badge {
    display: block;
    position: absolute;
    top: 24px;
    left: 8px;
    z-index: 100;
    width: 4px;
    height: 4px;
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 1.0);

}

.starting-badge {
    display: block;
    position: absolute;
    top: 24px;
    left: 8px;
    z-index: 100;
    width: 4px;
    height: 4px;
    border: 1px solid yellow;
    background-color: lightyellow;
    border-radius: 50%;
    box-shadow: 0px 0px 8px rgba(255, 255, 0, 1.0);
    animation: starting-pulse 2s infinite;
}

.stopping-badge {
    display: block;
    position: absolute;
    top: 24px;
    left: 8px;
    z-index: 100;
    width: 4px;
    height: 4px;
    border: 1px solid darkred;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0px 0px 8px rgba(255, 0, 0, 1.0);
    animation: stopping-pulse 2s infinite;
}


@keyframes starting-pulse {
  0% {
    background-color: lightyellow;
    box-shadow: 0px 0px 8px rgba(255, 255, 0, 1.0);
    border: 1px solid yellow;
  }
  50% {
     background-color: #7F7F00;
     box-shadow: 0px 0px 8px rgba(127, 127, 0, 1.0);
     border: 1px solid #7F7F00;
  }
  0% {
    background-color: lightyellow;
    box-shadow: 0px 0px 8px rgba(255, 255, 0, 1.0);
    border: 1px solid yellow;
  }
}

@keyframes stopping-pulse {
    0% {
        background-color: red;
        box-shadow: 0px 0px 8px rgba(255, 0, 0, 1.0);
        border: 1px solid darkred;
    }
    50% {
        background-color: #7F0000;
        box-shadow: 0px 0px 8px rgba(127, 0, 0, 1.0);
        border: 1px solid #7F0000;
    }
    0% {
        background-color: red;
        box-shadow: 0px 0px 8px rgba(255, 0, 0, 1.0);
        border: 1px solid darkred;
    }
}

.stop-button {
    display: none;
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 100;
    width: 32px;
    height: 32px;
    padding: 0px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

/* When the mouse is on the img or the stop-button -> display stop-button */
li a img:hover + .stop-button {
    display: block;
}
li a .stop-button:hover {
    display: block;
}

/* transition effect */
.fade-enter-active {
  transition: opacity .3s
}
.fade-leave-active {
  transition: opacity 2.0s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}

.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateX(-50px);
}
.list-enter-active, .list-leave-active {
  transition: all 0.5s;
  position: absolute;
}
.list-move {
  transition: transform .5s;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-padding {
    padding: 0px;
}

/* Transition for the modal dialog */
.modal-fade-enter-active, .modal-fade-leave-active {
  transition: opacity .2s
}
.modal-fade-enter, .modal-fade-leave-to {
  opacity: 0
}

.modal-display {
  display: block;
}

.required-field > label::after {
  content: '*';
  color: red;
  margin-left: 0.25rem;
}
