body {
    background-color: #f9f9f9;
}

/* Vertical align */
.va {
 display: inline-block;
 vertical-align: middle;
 float: none;
}

#applist > .row {
    background-color: #ffffff;
    font: 11px/1.8 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    color: #444;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 30px;
}
#applist > .row > h4 {
    font-size: 14px;
    font-weight: 600;
}

.admintable {
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
}
