{% extends "admin/page.html" %}


{% block center %}
  <div class="container adminslab">
    <div class="row">
        <div class="col-lg-2">
            <h3>Applications</h3>
        </div>
        <div class="col-lg-1">
            <button class="btn btn-primary createnew"
                    data-toggle="modal"
                    data-target="#create-new-dialog">Create New</button>
        </div>
    </div>
  <table id="datatable" class="display dataTable">
    <thead>
      <tr>
          <th>ID</th>
          <th>Image</th>
          <th>Remove</th>
      </tr>
    </thead>
    <tbody>
  {% for a in applications %}
    <tr>
        <td>{{ a.id }}</td>
        <td>{{ a.image }}</td>
        <td><button
                class="btn btn-danger"
                data-value="{{ a.id }}"
                data-name="{{ a.image }}"
                data-toggle="modal"
                data-target="#action-dialog">Remove</button></td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
  </div>
{% endblock %}

{% block dialogs %}
    {% call macros.modal_dlg('Action', btn_label='OK') %}
    {% endcall %}
    {% call macros.modal_dlg('Create New', btn_label='OK', btn_class="btn-primary", buttons_dismiss=false) %}
        <form>
            <label for="image-name">Image name</label>
            <input type="text" class="form-control" id="image-name">
            <div class="alert alert-danger" role="alert">Image name cannot be empty</div>
        </form>
    {% endcall %}
{% endblock %}

{% block script_init %}
    {{ super() }}
        <script type="text/javascript">
            require(["admin/tabular/controller"]);
            require(["admin/applications/controller"]);
        </script>
{% endblock %}
