{% extends "admin/page.html" %}


{% block center_table %}
    <div class="row">
        <div class="col-lg-2">
            <h3>Applications</h3>
        </div>
        <div class="col-lg-1">
            <button class="btn btn-primary createnew"
                    data-toggle="modal"
                    data-target=".create">Create New</button>
        </div>
    </div>
  <table id="datatable" class="display">
    <thead>
      <tr>
          <th>ID</th>
          <th>Image</th>
          <th>Remove</th>
      </tr>
    </thead>
    <tbody>
  {% for a in applications %}
    <tr>
        <td>{{ a.id }}</td>
        <td>{{ a.image }}</td>
        <td><button
                class="btn btn-danger"
                data-value="{{ a.id }}"
                data-name="{{ a.image }}"
                data-toggle="modal"
                data-target=".modal">Remove</button></td>
    </tr>
  {% endfor %}
  </tbody>
  </table>

  {% call modal('Create new application', btn_label='OK', btn_class="btn-primary", modal_class="create") %}
  {% endcall %}
{% endblock %}

{% block script_init %}
    {{ super() }}
        <script type="text/javascript">
            require(["admin/tabular/controller"]);
            require(["admin/applications/controller"]);
        </script>
{% endblock %}
