{% extends "admin/page.html" %}


{% block center_table %}
<div class="container">
  <table id="datatable">
    <thead>
      <tr>
        <th>User</th>
        <th>Image</th>
        <th>Docker ID</th>
        <th>Mapping ID</th>
      </tr>
    </thead>
    <tbody>
  {% for c in containers %}
    <tr>
      <td class="text-center">{{ c.user }}</td>
      <td class="text-center">{{ c.image_name }}</td>
      <td class="text-center">{{ c.docker_id }}</td>
      <td class="text-center">{{ c.mapping_id }}</td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}

{% block script_init %}
    {{ super() }}
    <script type="text/javascript">
    require(["admin/containers/controller"]);
    </script>
{% endblock %}
