{% extends "admin/page.html" %}


{% block center %}
  <div class="container adminslab">
  <h3>Currently Running Containers</h3>
  {% call macros.table(["User", "Image", "Docker ID", "Mapping ID", "URL ID", "Stop"]) %}
    {% for c in containers %}
      <tr>
        <td>{{ c.user }}</td>
        <td>{{ c.image_name }}</td>
        <td>{{ c.docker_id|truncate(12) }}</td>
        <td>{{ c.mapping_id|truncate(12) }}</td>
        <td>{{ c.url_id|truncate(12) }}</td>
        <td><button
          class="btn btn-danger stop-container"
          data-value="{{ c.url_id }}"
          data-toggle="modal"
          data-target="#action-dialog">Stop</button></td>
      </tr>
    {% endfor %}
  {% endcall %}
  </div>
{% endblock %}

{% block dialogs %}
  {{ super() }}
    {% call macros.modal_dlg('Action', btn_label='OK') %}
    {% endcall %}
{% endblock %}

{% block script_init %}
    {{ super() }}
        <script type="text/javascript">
            require(["admin/tabular/controller"]);
            require(["admin/containers/controller"]);
        </script>
{% endblock %}
