{% extends "admin/page.html" %}

{% block main_box_title %}Current Stats{% endblock %}
{% block main_box_body %}
  <div class="container">
    <div class="row">
      <div class="col-lg-4">Realm</div><div class="col-lg-4">{{ realm }}</div>
    </div>
    <div class="row">
      <div class="col-lg-4">Total users</div><div class="col-lg-8">{{ num_total_users }}</div>
    </div>
    <div class="row">
      <div class="col-lg-4">Number of images</div><div class="col-lg-8">{{ num_images }}</div>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-4">Active users</div><div class="col-lg-8">{{ num_active_users }}</div>
    </div>
    <div class="row">
      <div class="col-lg-4">Running containers</div><div class="col-lg-8">{{ num_running_containers }}</div>
    </div>
    </div>
  </div>
{% endblock %}

{% block script_init %}
    {{ super() }}
    <script type="text/javascript">
    require(["admin/home/controller"]);
    </script>
{% endblock %}
