{% extends "page.html" %}

{% block stylesheet %}
    {{ super() }}
    <link rel="stylesheet" href="{{ static_url("components/datatables.net-dt/css/jquery.dataTables.css") }}" type="text/css"/>
{% endblock %}

{% block main %}
    <ul id="adminoptions">
        <li><a href="{{ base_url }}containers/">Containers</a></li>
        <li><a href="{{ base_url }}users/">Users</a></li>
        <li><a href="{{ base_url }}applications/">Applications</a></li>
    </ul>
    {% block center_table %}{% endblock %}
{% endblock %}

{% block script_init %}
    <script>
        require.config({
            {% if version_hash %}
                urlArgs: "v={{version_hash}}",
            {% endif %}
            baseUrl: '{{static_url("js", include_version=False)}}',
            paths: {
                components: '../components',
                jquery: '../components/jquery/jquery.min',
                bootstrap: '../components/bootstrap/js/bootstrap.min',
                moment: "../components/moment/moment",
                "datatables.net": "../components/datatables.net/js/jquery.dataTables"
            },
            shim: {
                bootstrap: {
                    deps: ["jquery"],
                    exports: "bootstrap"
                },
                "datatables.net": {
                    deps: ["jquery"]
                },
            }
        });
    </script>

    <script type="text/javascript">
        window.apidata = {
            base_url: "{{base_url}}",
            prefix: "{{prefix}}",
            {% if user %}
                user: "{{user.name}}",
            {% endif %}
            {% if analytics %}
                analytics: {
                    tracking_id: "{{ analytics.tracking_id }}",
                },
            {% endif %}
        }
    </script>
{% endblock %}
