{% extends "page.html" %}

{% set skin = "skin-red" %}

{% block stylesheet %}
    {{ super() }}
    <link rel="stylesheet" href="{{ static_url("components/datatables.net-dt/css/jquery.dataTables.css") }}" type="text/css"/>
{% endblock %}

{% block sidebar %}
  <section class="sidebar">
    <ul class="sidebar-menu" id="adminoptions">
      <li class="header">ADMIN</li>
        <li {% if tab == "home" %}class="active"{% endif %}><a href="{{ base_url }}">Home</a></li>
        <li {% if tab == "containers" %}class="active"{% endif %}><a href="{{ base_url }}containers/">Containers</a></li>
        <li {% if tab == "users" %}class="active"{% endif %}><a href="{{ base_url }}users/">Users</a></li>
        <li {% if tab == "applications" %}class="active"{% endif %}><a href="{{ base_url }}applications/">Applications</a></li>
    </ul>
  </section>
{% endblock %}
