{% extends "admin/page.html" %}


{% block center_table %}
<div class="container">
  {% if table_title %}
    <h3>{{ table_title }}</h3>
  {% endif %}
  <table id="datatable" class="display">
    <thead>
      <tr>
        {% for h in headers %}
          <th>{{ h }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
  {% for r in table %}
    <tr>
      {% for c in r %}
          {% if c is link %}
            <td><a href="{{ base_url }}{{ c.rel_urlpath }}">{{ c.text }}</a></td>
          {% else %}
            <td>{{ c }}</td>
          {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}

{% block script_init %}
    {{ super() }}
        <script type="text/javascript">
            require(["admin/tabular/controller"]);
            {% if controller %}
                require(["admin/{{ controller }}/controller"]);
            {% endif %}
        </script>
{% endblock %}
