{% extends "admin/page.html" %}


{% block center_table %}
<div class="container">
  <table id="datatable" class="display">
    <thead>
      <tr>
          <th>ID</th>
          <th>User</th>
          <th>Applications</th>
      </tr>
    </thead>
    <tbody>
  {% for u in users %}
    <tr>
        <td>{{ u.id }}</td>
        <td>{{ u.name }}</td>
        <td><a href="{{ base_url }}users/{{ u.id }}/">Show</a></td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}

{% block script_init %}
    {{ super() }}
    <script type="text/javascript">
        require(["admin/tabular/controller"]);
    </script>
{% endblock %}
